
.triangle
{width: 300px;
  position: relative;
height: 500px;
margin-left: -176px;
z-index: 2;
border-style: solid;
border-width: 0 0 500px 500px;
box-shadow:inset -81px -48px 60px 21px #c3aec0;
  border-color: transparent transparent rgba(51, 59, 64, 0.46) transparent;}

